.dropDownContainer {
    display: flex;
    flex-direction: column;
    background-color: #fafcff;
    width: 160px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #adacac;
    position: relative;
}

.dropDownHeader {
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropDownList {
    margin: 0;
    display: none;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    border: 1px solid #adacac;
    z-index: 2;
    position: absolute;
    top: 28px;
    left: 0;
}

.dropDownList.opened {
    display: block;
}

.dropDownListItem {
    display: flex;
    padding: 5px 10px;
    height: 0;
    transition: height 5s ease-in-out;
    background-color: inherit;
}

.dropDownList.opened .dropDownListItem {
    height: 30px;
}

.dropDownList.opened .dropDownListItem:hover {
    background-color: #e6e6ef;
}
