.modal, .modalHeader, .modalContent {
    display: flex;
    position: absolute;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.modal {
    flex-direction: column;
    width: 460px;
    height: 400px;
    top: 25%;
    left: 20%;
    background-color: #fafcff;
    padding-bottom: 10px;
    border: 1px solid #9e9c9c;
}

.modalHeader {
    position: relative;
    height: 50px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.modalContent {
    position: relative;
    flex-direction: row;
}

.closed {
    display: none;
}

.closeModal {
    display: flex;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #eaeaea;
}