.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.listItemEl {
    text-align: center;
    font-size: 14px;
    width: 25%;
}

.communicate_success {
    color: green;
    font-size: 16px;
}

.communicate_info {
    color: blue;
    font-size: 16px;
}

.communicate_fail, .communicate_fatal {
    color: red;
    font-size: 16px;
}

.title {
    font-size: inherit;
}

.desc {
    font-size: inherit;;
}

.date {
    font-size: inherit;
}